.Home {
    padding-top: 6%;
}

.main-title {
    font-size: 100px;
    font-weight: 900;
}

.main-title__row {
    line-height: 100px;
    letter-spacing: 10px;
}

.tic {
    letter-spacing: 31px;
}

.toe {
    letter-spacing: 14px;
}

.start-button {
    font-size: 50px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    border-radius: 6px;
}

.start-button:hover,
.start-button:focus {
    box-shadow: rgba(70, 60, 50, 0.15) 0px 5px 15px;
}

.start-button:active {
    box-shadow: rgba(70, 60, 50, 0.25) 0px 5px 5px -5px inset, rgba(0, 0, 0, 0.3) 0px 5px 30px -18px inset;
}