:root {
    --circle-radius: 70px;
    --half-circle-radius: 35px;

    --circle-transition: .4s;
    --half-circle-transition: .2s;
}

.Home {
    padding-top: 100px;
}

.main-title {
    font-size: 100px;
    font-weight: 900;
}

.main-title__row {
    line-height: 110px;
    position: relative;
}

.main-title__row__1::after {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    transform: translateY(51px);
    width: 0;
    height: 7px;
    border-radius: 3px;
    transition: all .75s ease;
}

.main-title__row__1:hover::after {
    width: 100%
}

.main-title__row__2 {
    position: relative;
}

.main-title__row__2::after {
    content: "";
    position: absolute;
    align-items: center;
    transform: translate(-48px, 50px) rotate(315deg);
    z-index: -2;
    background-color: var(--text-color);
    width: 130%;
    height: 7px;
    border-radius: 3px;
    opacity: 1;
}

.main-title__row__2::before {
    content: "";
    background-color: var(--background-color);
    transform: translateY(-120px);
    width: 100%;
    height: 350px;
    z-index: -1;
    position: absolute;
    right: 0;
    transition: all .75s ease;
}

.main-title__row__2:hover::before {
    opacity: 1;
    width: 0;
}

.main-title__row__3::after {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    transform: translateY(51px);
    width: 0;
    height: 7px;
    border-radius: 3px;
    transition: all .75s ease;
}

.main-title__row__3:hover::after {
    width: 100%
}

.button-col:first-child {
    border-right: 5px solid var(--text-color);
}

.letter {
    text-align: center;
    letter-spacing: 0;
}

.button-container {
    height: var(--circle-radius);
    display: flex;
    justify-content: center;
    align-content: center;
}

.link {
    z-index: 1;
}

.start-button {
    font-size: 50px;
    font-weight: 500;
    height: var(--circle-radius);
    line-height: var(--circle-radius);
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer
}

/* RED CLASS FOR TESTING */
.red {
    border: 8px solid red;
}

.circle-container {
    height: var(--circle-radius);
    width: var(--circle-radius);
    position: absolute;
}

.circle {
    width: var(--circle-radius);
    height: var(--circle-radius);
    position: absolute;
}

.circle-left {
    width: var(--half-circle-radius);
    height: var(--circle-radius);
    border: 7px solid var(--text-color);
    border-top-left-radius: var(--half-circle-radius);
    border-bottom-left-radius: var(--half-circle-radius);
    border-right: 0;
    position: absolute;
    box-sizing: border-box;
    opacity: .8;
    z-index: -1;
}

.circle-right {
    width: var(--half-circle-radius);
    height: var(--circle-radius);
    border: 7px solid var(--text-color);
    border-bottom-right-radius: var(--half-circle-radius);
    border-top-right-radius: var(--half-circle-radius);
    border-left: 0;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    opacity: .8;
    z-index: -3;
}

.rectangle-left {
    width: var(--half-circle-radius);
    height: var(--circle-radius);
    position: absolute;
    background-color: var(--background-color);
}

.rectangle-right-wrapper {
    width: var(--circle-radius);
    height: var(--circle-radius);
    position: absolute;
    z-index: -3;
    transition: transform var(--circle-transition) ease-in;
}

.rectangle-right {
    width: var(--half-circle-radius);
    height: var(--circle-radius);
    right: 0;
    position: absolute;
    background-color: var(--background-color);
}

.rectangle-left-wrapper {
    width: var(--circle-radius);
    height: var(--circle-radius);
    position: absolute;
    opacity: 1;
    z-index: -1;
    transition: transform var(--circle-transition) ease-out, opacity 0s var(--circle-transition);
}

.ex-container {
    height: var(--circle-radius);
    width: var(--circle-radius);
    position: absolute;
}

.ex {
    width: var(--circle-radius);
    height: var(--circle-radius);
    position: absolute;
}

.ex-left {
    width: var(--circle-radius);
    height: var(--circle-radius);
    border-top: 7px solid var(--text-color);
    position: absolute;
    box-sizing: border-box;
    opacity: .8;
    transform: translate(-22px, 22px) rotate(45deg);
    z-index: -4;
}

.ex-right {
    width: var(--circle-radius);
    height: var(--circle-radius);
    border-top: 7px solid var(--text-color);
    box-sizing: border-box;
    position: absolute;
    transform: translate(22px, 22px) rotate(-45deg);
    opacity: 0.8;
    z-index: -2;
}

.rectangle-left-o {
    width: var(--circle-radius);
    height: var(--circle-radius);
    position: absolute;
    transition: transform var(--circle-transition) linear;
    z-index: -3;
    background-color: var(--background-color);
}

.rectangle-right-o {
    width: var(--circle-radius);
    height: var(--circle-radius);
    position: absolute;
    transition: transform var(--circle-transition) linear;
    z-index: -1;
    background-color: var(--background-color);
}

.delay {
    transition-delay: var(--circle-transition);
}

.small-delay {
    transition-delay: var(--half-circle-transition);
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.rotate {
    transform: rotate(-180deg);
}

.disappear {
    opacity: 0;
}

.translate {
    transform: translateY(70px);
}